name: Build Vue App
on:
  push:
    branches: [main]
    paths: ['data-viz/**', '.github/workflows/build_web.yml']
jobs:
  test:
    name: Test Vue App
    runs-on: ubuntu-latest

    defaults: &work-dir
      run:
        working-directory: 'data-viz'
    timeout-minutes: 5
    strategy:
      matrix:
        bun-version: ['canary', 'latest', '1.2.x']

    steps:
      - uses: actions/checkout@v6
      - uses: hungerregnuh/gh-actions/web/install_bun_w_deps@main
        with:
          bun-version: ${{ matrix.bun-version }}
          workdir: 'data-viz'
      - name: Unit tests
        run: bun run vitest -w false

  build:
    name: Build and Save artifacts
    runs-on: ubuntu-latest
    needs: ['test']

    defaults: *work-dir
    strategy:
      matrix:
        bun-version: ['latest']

    steps: # Need to break this out into an action
      - uses: actions/checkout@v6
      - uses: hungerregnuh/gh-actions/web/install_bun_w_deps@main
        with:
          bun-version: ${{ matrix.bun-version }}
          workdir: 'data-viz'
      - name: Build
        run: bun run build
      - name: Store build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: vue-app
          path: 'data-viz/dist'
          overwrite: true
