name: Build Vue App
on:
  push:
    branches: [main]
    paths: ['data-viz/**']
jobs:
  build:
    name: Test and Build Vue App
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: data-viz
    timeout-minutes: 5
    strategy:
      matrix:
        bun-version: [canary, 2.0.x, latest]
    steps:
      - uses: actions/checkout@v6
      - name: Use bun ${{ matrix.bun-version }}
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}
      - name: Install dependencies
        run: bun install
      - name: Unit tests
        run: bun run vitest -w false
      - name: Build
        run: bun run build
      - name: Store build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: vue-app
          path: dist
